@import 'font-awesome/css/font-awesome.css';

.toast-success {
  background: #fff !important;
  border-left: 6px solid rgb(115, 64, 96) !important;
  color: #333 !important;
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px !important;
  padding: 20px 20px !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  min-width: 450px;
  max-width: 600px;
  width: auto; 
}

.toast-success::before {
  content: '✔';
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: rgb(115, 64, 96);
}

.toast-success .toast-message {
  margin-left: 26px;
}

.toast-success .toast-close-button {
  color: rgb(115, 64, 96) !important;
  font-size: 24px;
  opacity: 0.7;
}

.toast-success .toast-close-button:hover {
  opacity: 1;
}


.toast-top-center {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}


mat-chip-set mat-chip {
  font-size: 35px !important;
  background-color: #dab6cd !important;
}

@media (max-width: 600px) {
  .toast-success {
    min-width: 90vw;
    max-width: 98vw;
    font-size: 16px;
    padding: 14px 10px !important;
  }
  .toast-success .toast-message {
    margin-left: 22px;
    font-size: 15px;
  }
  .toast-success .toast-close-button {
    font-size: 20px;
  }
  .toast-success::before {
    font-size: 16px;
    left: 10px;
  }
  .toast-top-center {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    min-width: unset;
    max-width: unset;
  }
  mat-chip-set mat-chip {
    font-size: 20px !important;
    padding: 4px 10px !important;
  }
}

