<div class="recipe-app">
 

  <div *ngIf="recipesToShow && recipesToShow.length > 0; else noRecipes" [ngClass]="
      showRecipeByUser
        ? 'recipe-cards-container_user'
        : 'recipe-cards-container'
    ">
    <ng-container>
      <div class="recipe-card" *ngFor="let recipe of recipesToShow">
        <span>
          <img [src]="imgUrl + recipe.img_path" />
        </span>
        <span class="dish_container">
          <span class="dish_name">
            {{ recipe.recipe_name }}
          </span>
          <div *ngIf="!showRecipeByUser">
            <i class="fa-solid fa-bookmark" [class.bookmarked]="recipe.is_bookmarked" (click)="addToFav(recipe.id)"></i>
          </div>
          <div *ngIf="showRecipeByUser">
            <button class="fa fa-trash" (click)="deleteRecipe(recipe.id)"></button>
          </div>
        </span>

        <span class="dish_description" [title]="recipe.recipe_desc">
          {{ recipe.recipe_desc }}
        </span>
        <span>
          <div class="recipe_details">
            <div *ngIf="!showRecipeByUser">
              <i class="fa fa-star" *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{
                'rated': star <= recipe.rating,
               'not_rated': star > recipe.rating 
              }"(click) = "rateRecipe(recipe, star)" ></i>
            </div>
            <button class="recipe-button" (click)="viewRecipe(recipe.id)">
              View Recipe
            </button>
          </div>
        </span>
      </div>
    </ng-container>
  </div>
  <ng-template #noRecipes>
     <div *ngIf="recipesToShow.length==0 && recipesToShow" class="empty_list">
      <h1 class="no-recipes-message">&nbsp;<span style="font-size: 20px;">Please Wait Fetching Recipes....</span>&nbsp;<i class="fa-solid fa-spinner fa-spin"></i></h1>
    </div>
    <span *ngIf="showRecipeByUser">
      <h3 class="no-recipes-message_user">
        It looks like you haven’t added any recipes yet. Start by creating
        your first recipe and share your culinary creations with the world.
      </h3>
    </span>
  </ng-template>

</div>