<div [ngClass]="
      showRecipeByUser
        ? 'recipe-app-user'
        : 'recipe-app'
    " style="margin-top:70px;">
  <div class="recipe_categories">
    <mat-chip-listbox aria-label="Category Selection"  class="custom-chip" [multiple]="false">
      <mat-chip-option *ngFor="let chip of category" [selected]="selectedCategory === chip" (selectionChange)="onCategorySelect(chip,$event)" >{{chip}}</mat-chip-option>
    </mat-chip-listbox>
 
  </div>
  <div *ngIf="recipesToShow && recipesToShow.length > 0; else noRecipes" [ngClass]="
      showRecipeByUser
        ? 'recipe-cards-container_user'
        : 'recipe-cards-container'
    ">
    <ng-container>
      <div class="recipe-card" *ngFor="let recipe of recipesToShow">
        <span>
          <img [src]="imgUrl + recipe.img_path" />
        </span>
        <span class="dish_container">
          <span class="dish_name">
            {{ recipe.recipe_name }}
          </span>
          <div *ngIf="!showRecipeByUser">
            <i class="fa-solid fa-bookmark" [class.bookmarked]="recipe.is_bookmarked" (click)="addToFav(recipe.id)"></i>
          </div>
          <div *ngIf="showRecipeByUser">
            <button class="fa fa-trash" (click)="deleteRecipe(recipe.id)" title="Delete Recipe"></button>
            <button class="fa fa-edit" (click)="editRecipe(recipe)" title="Edit Recipe"></button>
          </div>
        </span>

        <span class="dish_description" [title]="recipe.recipe_desc">
          {{ recipe.recipe_desc }}
        </span>
        <span>
          <div class="recipe_details">
            <div *ngIf="!showRecipeByUser">
              <i class="fa fa-star" *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{
                'rated': star <= recipe.rating,
               'not_rated': star > recipe.rating 
              }" (click)="rateRecipe(recipe, star)"></i>
            </div>
            <button class="recipe-button" (click)="viewRecipe(recipe.id)">
              View Recipe
            </button>
          </div>
        </span>
      </div>
    </ng-container>
  </div>
  <ng-template #noRecipes>
    <div *ngIf="recipesToShow.length==0 && recipesToShow && !showRecipeByUser && !selectedCategory" class="empty_list">
      <h1 class="no-recipes-message">&nbsp;<span style="font-size: 20px;">Please Wait Fetching
          Recipes....</span>&nbsp;<i class="fa-solid fa-spinner fa-spin"></i></h1>
    </div>
    <ng-container *ngIf="selectedCategory || showRecipeByUser">
  <div *ngIf="recipesToShow.length > 0" class="empty_list">
    <h1 class="no-recipes-message">Here is the list for {{selectedCategory}}:</h1>
  </div>
  <div *ngIf="recipesToShow.length === 0 && !showRecipeByUser" class="empty_list">
    <h1 class="no-recipes-message">No recipes found for category {{selectedCategory}}.</h1>
  </div>
</ng-container>


    <span *ngIf="showRecipeByUser" style="padding: 30px;">
      <h3 class="no-recipes-message_user">
        You haven’t added any recipes yet. Start by sharing your favorite dishes and build your personal recipe
        collection.
      </h3>
    </span>

  </ng-template>

</div>