.view_recipe{
   background: rgba(245,245,220);
    /* background-size:auto; */
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

#heading{
font-weight: bold;
padding: 8px;
margin: 10px;
font-style: italic;
}

.show_recipe{
  
   width: 1200px;
   border-radius: 10px;
   padding: 10px;
   margin: 10px;
}
.recipe_main{
    display: inline-flex;
}

.recipe_img{
    box-shadow: 0 2px 2px rgb(0,0,0,0.2);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    float: right;
}

.recipe_img:hover {
    transform: scale(1.03);
}

.title{
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
}

.ingredients_list{
    width: 600px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
}

.ingredients_item{
    box-shadow: 0px 4px 4px rgba(0, 0, 0,0.5);
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: bisque; /* Light beige */
    color: #4B3F30;
}

.ingredients_item:hover{
    background-color:#F5F5DC;
}


.step{
    box-shadow: 0px 2px 6px rgba(0, 0, 0,0.1);
    background-color: #fafafa;
    padding: 14px;
    border:  1px solid brown;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    line-height: 1.5;
    display: block;
    margin-bottom: 15px;
}

.step:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

.step_number{
 color: #9E2A2F;;
}