<div class="recipe-app">
    <div class="header">
        <span style="display: inline-block;">
            <h2>Tummy-Yummy</h2>
            <p>Treat Your Taste Buds 🍴</p>
        </span>
      <span class="nav-links">
        <nav>
            <a href="#">Home</a>
            <a href="#">My Recipes</a>
            <a routerLink="/add-recipe">Add Recipe</a>
        </nav>
       
      </span>
    </div>
  
   
  
    <div class="footer">
      <p>Copyright &copy; 2025 Tummy-Yummy. All rights reserved.</p>
    </div>
  </div>
  