<div class="header">
  <div class="logo">
    <h2>Tummy-Yummy</h2>
    <p>Treat Your Taste Buds &nbsp;<i class="fa-solid fa-utensils"></i></p>
  </div>

 <div class="header-search" *ngIf="isLoggedIn">
  <input
    type="text"
    [placeholder]="placeholder"
        [(ngModel)]="searchRecipeName"
        (input)="applyFilter()"
  />
</div>

  <div class="header-right" *ngIf="isLoggedIn">
    <div class="user_wrapper" (mouseleave)="menuOpen=false">
      <div class="user-avatar" (click)="toggleMenu()">
        {{ username.charAt(0) | uppercase }}
      </div>

      <div class="user-menu" *ngIf="menuOpen">
        <a routerLink="/favourite">My Favourite Recipes</a>
        <a routerLink="/add-recipe">Add Recipe</a>
        <a (click)="signOut()" style="cursor: pointer;">Sign Out</a>
      </div>
    </div>
  </div>
</div>
